https://www.mygov.in/corona-data/covid19-statewise-status/

https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/

# grainmart.in/

In [413]:
# importing the Libraries
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

def GetCovidTotal():
    sources = requests.get('https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/')
    print(sources) 
    if sources.status_code!=200:
        return 'url data not available'
    #parsing the whole page
    soup = BeautifulSoup(sources.content,"html.parser")
    # looping over each card in a single page  
    for i in soup.findAll('div',{'class':'col col-sm contact-section'}):
        date = i.text
    state_list, dist_list = [], []
    for i in soup.findAll('div',{'class':'skgm-td state-td'}):
        state_list.append(i.text.strip())
    for i in soup.findAll('div',{'class':'skgm-tr'}):
        dist_list.append(i.text)
    No_State = len(state_list)
    No_dist = (len(dist_list)-No_State)      # dist_list contain state name alse
    for card in soup.findAll( 'div',{"class":"skgm-th total-cases"}):   
        for i in card.findAll('div',{'class':'td-tc'}):
            Cases = i.text
        for i in card.findAll('div',{'class':'td-tdc'}):
             Last_Cases = i.text
        for i in card.findAll('div',{'class':'td-tr'}):
            Cured = i.text
        for i in card.findAll('div',{'class':'td-tdr'}):
            Last_Cured = (i.text)
        for i in card.findAll('div',{'class':'td-ta'}):
            Active = i.text
        for i in card.findAll('div',{'class':'td-td'}):
            Deaths = i.text
        for i in card.findAll('div',{'class':'td-tdd'}):
            Last_Deaths = i.text
    data = {'Date':date, 'Overall Total':{'Cases':Cases, 'Cured':Cured, 'Active':Active, 'Deaths':Deaths},
            'Last 24 hours Increase':{'Cases':Last_Cases, 'Cured':Last_Cured, 'Deaths':Last_Deaths},
            'In available data from ( https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/ )':
            {'Number of States and Union Territories of INDIA ':No_State,
            'List of States and Union Territories of INDIA ':state_list,
            'Number of Districts and other state':No_dist}
            }
    return data
data1 = GetCovidTotal()

<Response [200]>

In [434]:
# importing the Libraries
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

def GetCovidStateData():
    STATE_UT = []
    Cases = []
    Cured = []
    Active = []
    Deaths = []
    Last_Cases = []
    Last_Cured = []
    Last_Deaths = []
    sources = requests.get('https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/')
    print(sources) 
    if sources.status_code!=200:
        return 'url data not available'
    #parsing the whole page
    soup = BeautifulSoup(sources.content,"html.parser")
    # looping over each card in a single page
    for card in soup.findAll( 'section',{"id":"covid-19-table"}):   
        for i in card.findAll('div',{'class':'skgm-td state-td'}):
            STATE_UT.append(i.text.strip())
        for i in card.findAll('div',{'class':'td-sc'}):
            Cases.append(i.text)
        for i in card.findAll('div',{'class':'td-sdc'}):
            Last_Cases.append(i.text)
        for i in card.findAll('div',{'class':'td-sr'}):
            Cured.append(i.text)
        for i in card.findAll('div',{'class':'td-sdr'}):
            Last_Cured.append(i.text)
        for i in card.findAll('div',{'class':'td-sa'}):
            Active.append(i.text)
        for i in card.findAll('div',{'class':'td-sd'}):
            Deaths.append(i.text)
        for i in card.findAll('div',{'class':'td-sdd'}):
            Last_Deaths.append(i.text)
    # creating the dataframe and assigning each column with the data from the lists 
    df = pd.DataFrame({
        'STATE_UT': STATE_UT,
        'Cases':Cases,
        'Cured':Cured,
        'Active':Active,
        'Deaths':Deaths,
        'New_Cases':Last_Cases,
        'New_Cured':Last_Cured,
        'New_Deaths':Last_Deaths
        })
    df['New_Cases'].replace('','0',inplace=True)
    df['New_Cured'].replace('','0',inplace=True)
    df['New_Deaths'].replace('','0',inplace=True)
    return df
df1 = GetCovidStateData()
# df1

<Response [200]>

In [435]:
# importing the Libraries
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

def GetCovidDistrictData():
    temp_dist = []
    Districts = []
    Cases = []
    Cured = []
    Active = []
    Deaths = []
    Last_Cases = []
    Last_Cured = []
    Last_Deaths = []
    sources = requests.get('https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/')
    print(sources)
    if sources.status_code!=200:
        return 'url data not available'
    #parsing the whole page
    soup = BeautifulSoup(sources.content,"html.parser")
    # looping over each card in a single page
    for card in soup.findAll( 'div',{"class":"skgm-districts"}):   
        for i in card.findAll('div',{'class':'skgm-tr'}):
            for i in i.findAll('div',{'class':'skgm-td'}):
                temp_dist.append(i.text)
        for i in card.findAll('div',{'class':'td-dc'}):
            Cases.append(i.text)
        for i in card.findAll('div',{'class':'td-ddc'}):
            Last_Cases.append(i.text)
        for i in card.findAll('div',{'class':'td-dr'}):
            Cured.append(i.text)
        for i in card.findAll('div',{'class':'td-ddr'}):
            Last_Cured.append(i.text)
        for i in card.findAll('div',{'class':'td-da'}):
            Active.append(i.text)
        for i in card.findAll('div',{'class':'td-dd'}):
            Deaths.append(i.text)
        for i in card.findAll('div',{'class':'td-ddd'}):
            Last_Deaths.append(i.text)
    # Find out only District
    for i in range(0,len(temp_dist),5):
        Districts.append(temp_dist[i])
    # creating the dataframe and assigning each column with the data from the lists 
    df_temp = pd.DataFrame({
        'Districts': Districts,
        'Cases':Cases,
        'Cured':Cured,
        'Active':Active,
        'Deaths':Deaths,
        'New_Cases':Last_Cases,
        'New_Cured':Last_Cured,
        'New_Deaths':Last_Deaths
        })
    df_temp['New_Cases'].replace('','0',inplace=True)
    df_temp['New_Cured'].replace('','0',inplace=True)
    df_temp['New_Deaths'].replace('','0',inplace=True)
    
    df1 = GetCovidStateData()    # Get covid state wise data
    if type(df1)==str:
        return'Covid State Data data not available'
    state = list(df1['STATE_UT'])
    num_dist = []
    for card in soup.findAll( 'div',{"class":"skgm-states"}): 
        w = 0
        for i in card.findAll('div',{'class':"skgm-tr"}):
            w+=1
            #print(i.text)
        #print(w-1)       # w-1 because it contain state name also
        num_dist.append(w-1)
    state_list = []
    for index,numb in enumerate(num_dist):
        for j in range(0,numb):
            state_list.append(state[index])
    # final df 
    df = df_temp
    df['STATE_UT'] = state_list
    return df

df2 = GetCovidDistrictData()

<Response [200]>
<Response [200]>

In [436]:
data1

{'Date': 'Tuesday, April 6, 2021',
 'Overall Total': {'Cases': '12684484',
  'Cured': '11730054',
  'Active': '783844',
  'Deaths': '165577'},
 'Last 24 hours Increase': {'Cases': '96563',
  'Cured': '50095',
  'Deaths': '445'},
 'In available data from ( https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/ )': {'Number of States and Union Territories of INDIA ': 36,
  'List of States and Union Territories of INDIA ': ['Maharashtra',
   'Kerala',
   'Karnataka',
   'Andhra Pradesh',
   'Tamil Nadu',
   'Delhi',
   'Uttar Pradesh',
   'West Bengal',
   'Chhattisgarh',
   'Odisha',
   'Rajasthan',
   'Gujarat',
   'Telangana',
   'Madhya Pradesh',
   'Haryana',
   'Bihar',
   'Punjab',
   'Assam',
   'Jammu and Kashmir',
   'Jharkhand',
   'Uttarakhand',
   'Himachal Pradesh',
   'Goa',
   'Puducherry',
   'Tripura',
   'Manipur',
   'Chandigarh',
   'Arunachal Pradesh',
   'Meghalaya',
   'Nagaland',
   'Ladakh',
   'Sikkim',
   'Andaman and Nicobar Islands',
   'Mizoram',
   'Dadra and Nagar Haveli and Daman and Diu',
   'Lakshadweep'],
  'Number of Districts and other state': 774}}

In [437]:
df1.head()

,STATE_UT,Cases,Cured,Active,Deaths,New_Cases,New_Cured,New_Deaths
0,Maharashtra,3057885,2549075,451375,56033,47288,26252,155
1,Kerala,1137591,1104225,28370,4681,2357,1866,12
2,Karnataka,1020434,965275,42483,12657,5279,1856,32
3,Andhra Pradesh,909002,891048,10710,7244,1326,911,5
4,Tamil Nadu,903479,866913,23777,12789,3672,1842,11

In [438]:
df2.head()

,Districts,Cases,Cured,Active,Deaths,New_Cases,New_Cured,New_Deaths,STATE_UT
0,Pune,584969,495102,81378,8440,8211,8144,6,Maharashtra
1,Mumbai,462560,376484,73281,11800,9879,3371,21,Maharashtra
2,Thane,367440,303638,57635,6136,5786,1371,10,Maharashtra
3,Nagpur,249867,189814,55926,4081,3628,1330,10,Maharashtra
4,Nashik,197725,160869,34540,2315,4170,1354,13,Maharashtra

In [439]:
df2['STATE_UT'][5]

'Maharashtra'

In [440]:
df2[df2['STATE_UT']=='Goa']

,Districts,Cases,Cured,Active,Deaths,New_Cases,New_Cured,New_Deaths,STATE_UT
662,Unknown,52936,53737,-1446,645,0,0,0,Goa
663,South Goa,3511,1407,1978,126,0,0,0,Goa
664,North Goa,2668,964,1639,65,0,0,0,Goa
665,Other State,200,190,9,1,0,0,0,Goa

In [442]:
v = df2[df2['Districts']=='Pune']
v

,Districts,Cases,Cured,Active,Deaths,New_Cases,New_Cured,New_Deaths,STATE_UT
0,Pune,584969,495102,81378,8440,8211,8144,6,Maharashtra

In [445]:
#get data in cleaned for States
def GetStateReportFinal(state):
    data1 = GetCovidTotal()
    date = data1['Date']
    state1 = state.lower()  # default white space 
    df1 = GetCovidStateData()    # Get covid state wise data
    if type(df1)==str:
        return'Covid State Data data not available'
    df2 = GetCovidDistrictData()   # Get covid District wise data
    if type(df2)==str:
        return'Covid District Data data not available'
    
    temp = df1[df1['STATE_UT'].apply(lambda x: state1 == x.lower())]
    if len(temp)==1:
        st_list = list(set(temp['STATE_UT'].values))
    else:
        df_cntry = df1[df1['STATE_UT'].apply(lambda x: state1 in x.lower())]
        st_list = list(set(df_cntry['STATE_UT'].values))
    states = st_list[0]
    temp2 = df1[df1['STATE_UT']==states]
    temp3 = df2[df2['STATE_UT']==states]
    STATE_UT = temp2['STATE_UT'].values[0]
    Cases = temp2['Cases'].values[0]
    Cured = temp2['Cured'].values[0]
    Active = temp2['Active'].values[0]
    Deaths = temp2['Deaths'].values[0]
    last_Cases = temp2['New_Cases'].values[0]
    last_Cured = temp2['New_Cured'].values[0]
    Last_Deaths = temp2['New_Deaths'].values[0]
    Districts = list(temp3['Districts'].values)
    dist_data = {}
    for i in Districts:
        temp4 = temp3[temp3['Districts']==i]
        Cases1 = temp4['Cases'].values[0]
        Cured1 = temp4['Cured'].values[0]
        Active1 = temp4['Active'].values[0]
        Deaths1 = temp4['Deaths'].values[0]
        last_Cases1 = temp4['New_Cases'].values[0]
        last_Cured1 = temp4['New_Cured'].values[0]
        Last_Deaths1 = temp4['New_Deaths'].values[0]
        dist_data.update({i:{'Cases':Cases1, 'Cured':Cured1, 'Active':Active1, 'Deaths':Deaths1
                            ,'Last 24 hours Increase': {'Cases': last_Cases1,'Cured': last_Cured1, 'Deaths': Last_Deaths1},
                            }})
#     
    data = {'Date Time':date
           , 'Detail Data for state':{'State Name':STATE_UT
           , 'Total Number of Cases':Cases
           , 'Total Number of Cured':Cured
           , 'Total Number of Active':Active
           , 'Total Number of Deaths':Deaths
            ,'Last 24 hours Increase': {'Cases': last_Cases,'Cured': last_Cured, 'Deaths': Last_Deaths},
           }
           , 'Districts':dist_data,
           }
    return data

# GetStateReport(state="maha")
data1 = GetStateReportFinal(state="maha")
    
data1

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

{'Date Time': 'Tuesday, April 6, 2021',
 'Detail Data for state': {'State Name': 'Maharashtra',
  'Total Number of Cases': '3057885',
  'Total Number of Cured': '2549075',
  'Total Number of Active': '451375',
  'Total Number of Deaths': '56033',
  'Last 24 hours Increase': {'Cases': '47288',
   'Cured': '26252',
   'Deaths': '155'}},
 'Districts': {'Pune': {'Cases': '584969',
   'Cured': '495102',
   'Active': '81378',
   'Deaths': '8440',
   'Last 24 hours Increase': {'Cases': '8211',
    'Cured': '8144',
    'Deaths': '6'}},
  'Mumbai': {'Cases': '462560',
   'Cured': '376484',
   'Active': '73281',
   'Deaths': '11800',
   'Last 24 hours Increase': {'Cases': '9879',
    'Cured': '3371',
    'Deaths': '21'}},
  'Thane': {'Cases': '367440',
   'Cured': '303638',
   'Active': '57635',
   'Deaths': '6136',
   'Last 24 hours Increase': {'Cases': '5786',
    'Cured': '1371',
    'Deaths': '10'}},
  'Nagpur': {'Cases': '249867',
   'Cured': '189814',
   'Active': '55926',
   'Deaths': '4081',
   'Last 24 hours Increase': {'Cases': '3628',
    'Cured': '1330',
    'Deaths': '10'}},
  'Nashik': {'Cases': '197725',
   'Cured': '160869',
   'Active': '34540',
   'Deaths': '2315',
   'Last 24 hours Increase': {'Cases': '4170',
    'Cured': '1354',
    'Deaths': '13'}},
  'Ahmednagar': {'Cases': '102361',
   'Cured': '85404',
   'Active': '15716',
   'Deaths': '1240',
   'Last 24 hours Increase': {'Cases': '1776', 'Cured': '350', 'Deaths': '3'}},
  'Jalgaon': {'Cases': '90992',
   'Cured': '82218',
   'Active': '7141',
   'Deaths': '1607',
   'Last 24 hours Increase': {'Cases': '578', 'Cured': '1856', 'Deaths': '2'}},
  'Aurangabad': {'Cases': '90572',
   'Cured': '72307',
   'Active': '16818',
   'Deaths': '1433',
   'Last 24 hours Increase': {'Cases': '1052', 'Cured': '287', 'Deaths': '1'}},
  'Raigad': {'Cases': '85109',
   'Cured': '77541',
   'Active': '5859',
   'Deaths': '1707',
   'Last 24 hours Increase': {'Cases': '792', 'Cured': '633', 'Deaths': '7'}},
  'Solapur': {'Cases': '71225',
   'Cured': '62256',
   'Active': '6982',
   'Deaths': '1936',
   'Last 24 hours Increase': {'Cases': '685', 'Cured': '697', 'Deaths': '6'}},
  'Satara': {'Cases': '68661',
   'Cured': '61758',
   'Active': '5000',
   'Deaths': '1894',
   'Last 24 hours Increase': {'Cases': '747', 'Cured': '378', 'Deaths': '2'}},
  'Palghar': {'Cases': '57343',
   'Cured': '51942',
   'Active': '4373',
   'Deaths': '1018',
   'Last 24 hours Increase': {'Cases': '682', 'Cured': '1091', 'Deaths': '0'}},
  'Sangli': {'Cases': '56107',
   'Cured': '51358',
   'Active': '2913',
   'Deaths': '1834',
   'Last 24 hours Increase': {'Cases': '290', 'Cured': '13', 'Deaths': '0'}},
  'Kolhapur': {'Cases': '52049',
   'Cured': '49210',
   'Active': '1138',
   'Deaths': '1698',
   'Last 24 hours Increase': {'Cases': '144', 'Cured': '76', 'Deaths': '0'}},
  'Amravati': {'Cases': '50268',
   'Cured': '46099',
   'Active': '3498',
   'Deaths': '669',
   'Last 24 hours Increase': {'Cases': '195', 'Cured': '136', 'Deaths': '5'}},
  'Nanded': {'Cases': '49242',
   'Cured': '37046',
   'Active': '11299',
   'Deaths': '891',
   'Last 24 hours Increase': {'Cases': '892', 'Cured': '649', 'Deaths': '23'}},
  'Latur': {'Cases': '36802',
   'Cured': '28268',
   'Active': '7752',
   'Deaths': '779',
   'Last 24 hours Increase': {'Cases': '786', 'Cured': '426', 'Deaths': '9'}},
  'Buldhana': {'Cases': '31854',
   'Cured': '24606',
   'Active': '6949',
   'Deaths': '294',
   'Last 24 hours Increase': {'Cases': '1253', 'Cured': '109', 'Deaths': '0'}},
  'Chandrapur': {'Cases': '30879',
   'Cured': '27398',
   'Active': '3027',
   'Deaths': '452',
   'Last 24 hours Increase': {'Cases': '322', 'Cured': '367', 'Deaths': '3'}},
  'Akola': {'Cases': '30243',
   'Cured': '25914',
   'Active': '3850',
   'Deaths': '475',
   'Last 24 hours Increase': {'Cases': '469', 'Cured': '139', 'Deaths': '2'}},
  'Yavatmal': {'Cases': '29759',
   'Cured': '26160',
   'Active': '3028',
   'Deaths': '567',
   'Last 24 hours Increase': {'Cases': '277', 'Cured': '289', 'Deaths': '2'}},
  'Beed': {'Cases': '28301',
   'Cured': '22991',
   'Active': '4656',
   'Deaths': '645',
   'Last 24 hours Increase': {'Cases': '589', 'Cured': '588', 'Deaths': '3'}},
  'Dhule': {'Cases': '28126',
   'Cured': '21901',
   'Active': '5834',
   'Deaths': '387',
   'Last 24 hours Increase': {'Cases': '346', 'Cured': '23', 'Deaths': '1'}},
  'Jalna': {'Cases': '25961',
   'Cured': '24106',
   'Active': '1424',
   'Deaths': '430',
   'Last 24 hours Increase': {'Cases': '1055',
    'Cured': '690',
    'Deaths': '12'}},
  'Wardha': {'Cases': '23063',
   'Cured': '20565',
   'Active': '2038',
   'Deaths': '390',
   'Last 24 hours Increase': {'Cases': '320', 'Cured': '282', 'Deaths': '5'}},
  'Osmanabad': {'Cases': '22975',
   'Cured': '18986',
   'Active': '3371',
   'Deaths': '601',
   'Last 24 hours Increase': {'Cases': '241', 'Cured': '86', 'Deaths': '0'}},
  'Bhandara': {'Cases': '21767',
   'Cured': '15863',
   'Active': '5580',
   'Deaths': '322',
   'Last 24 hours Increase': {'Cases': '651', 'Cured': '204', 'Deaths': '0'}},
  'Nandurbar': {'Cases': '21053',
   'Cured': '14614',
   'Active': '6130',
   'Deaths': '308',
   'Last 24 hours Increase': {'Cases': '405', 'Cured': '187', 'Deaths': '4'}},
  'Washim': {'Cases': '17521',
   'Cured': '15217',
   'Active': '2108',
   'Deaths': '193',
   'Last 24 hours Increase': {'Cases': '209', 'Cured': '567', 'Deaths': '0'}},
  'Gondia': {'Cases': '17206',
   'Cured': '15205',
   'Active': '1814',
   'Deaths': '181',
   'Last 24 hours Increase': {'Cases': '246', 'Cured': '46', 'Deaths': '0'}},
  'Parbhani': {'Cases': '16556',
   'Cured': '9709',
   'Active': '6474',
   'Deaths': '362',
   'Last 24 hours Increase': {'Cases': '329', 'Cured': '210', 'Deaths': '1'}},
  'Ratnagiri': {'Cases': '13450',
   'Cured': '12179',
   'Active': '840',
   'Deaths': '429',
   'Last 24 hours Increase': {'Cases': '23', 'Cured': '2', 'Deaths': '0'}},
  'Gadchiroli': {'Cases': '10424',
   'Cured': '9780',
   'Active': '526',
   'Deaths': '110',
   'Last 24 hours Increase': {'Cases': '78', 'Cured': '34', 'Deaths': '0'}},
  'Hingoli': {'Cases': '7664',
   'Cured': '5838',
   'Active': '1709',
   'Deaths': '117',
   'Last 24 hours Increase': {'Cases': '111', 'Cured': '267', 'Deaths': '3'}},
  'Sindhudurg': {'Cases': '7645',
   'Cured': '6729',
   'Active': '724',
   'Deaths': '192',
   'Last 24 hours Increase': {'Cases': '71', 'Cured': '0', 'Deaths': '1'}},
  'Other State': {'Cases': '146',
   'Cured': '0',
   'Active': '44',
   'Deaths': '100',
   'Last 24 hours Increase': {'Cases': '0', 'Cured': '0', 'Deaths': '0'}},
  'Mumbai Suburban': {'Cases': '0',
   'Cured': '0',
   'Active': '0',
   'Deaths': '0',
   'Last 24 hours Increase': {'Cases': '0', 'Cured': '0', 'Deaths': '0'}}}}

In [451]:
df2.head()

,Districts,Cases,Cured,Active,Deaths,New_Cases,New_Cured,New_Deaths,STATE_UT
0,Pune,584969,495102,81378,8440,8211,8144,6,Maharashtra
1,Mumbai,462560,376484,73281,11800,9879,3371,21,Maharashtra
2,Thane,367440,303638,57635,6136,5786,1371,10,Maharashtra
3,Nagpur,249867,189814,55926,4081,3628,1330,10,Maharashtra
4,Nashik,197725,160869,34540,2315,4170,1354,13,Maharashtra

In [458]:
#get data in cleaned for States
def GetDistrictReportFinal(dist):
    data1 = GetCovidTotal()
    date = data1['Date']
    dist1 = dist.lower()  # default white space 

    df2 = GetCovidDistrictData()   # Get covid District wise data
    if type(df2)==str:
        return'Covid District Data data not available'
    
    temp = df2[df2['Districts'].apply(lambda x: dist1 == x.lower())]
    if len(temp)==1:
        dist_list = list(set(temp['Districts'].values))
    else:
        dist_df = df2[df2['Districts'].apply(lambda x: dist1 in x.lower())]
        dist_list = list(set(dist_df['Districts'].values))
    distr = dist_list[0]
    temp2 = df2[df2['Districts']==distr]
    STATE_UT = temp2['STATE_UT'].values[0]
    Districts = temp2['Districts'].values[0]
    Cases = temp2['Cases'].values[0]
    Cured = temp2['Cured'].values[0]
    Active = temp2['Active'].values[0]
    Deaths = temp2['Deaths'].values[0]
    last_Cases = temp2['New_Cases'].values[0]
    last_Cured = temp2['New_Cured'].values[0]
    Last_Deaths = temp2['New_Deaths'].values[0]

    data = {'Date Time':date
           , 'Detail Data for Districts':{'Districts Name':Districts, 'State Name': STATE_UT
           , 'Total Number of Cases':Cases
           , 'Total Number of Cured':Cured
           , 'Total Number of Active':Active
           , 'Total Number of Deaths':Deaths
            ,'Last 24 hours Increase': {'Cases': last_Cases,'Cured': last_Cured, 'Deaths': Last_Deaths},
           }
           }
    return data

data3 = GetDistrictReportFinal(dist="pune")
    
data3

<Response [200]>
<Response [200]>
<Response [200]>

{'Date Time': 'Tuesday, April 6, 2021',
 'Detail Data for Districts': {'Districts Name': 'Pune',
  'State Name': 'Maharashtra',
  'Total Number of Cases': '584969',
  'Total Number of Cured': '495102',
  'Total Number of Active': '81378',
  'Total Number of Deaths': '8440',
  'Last 24 hours Increase': {'Cases': '8211', 'Cured': '8144', 'Deaths': '6'}}}

In [455]:
data3['Detail Data for Districts']['Districts Name']

'Pune'

In [447]:
data1['Detail Data for state']['State Name']

'Maharashtra'

In [369]:
sources = requests.get('https://www.grainmart.in/news/covid-19-coronavirus-india-state-and-district-wise-tally/')
print(sources) 
#parsing the whole page
soup = BeautifulSoup(sources.content,"html.parser")
# looping over each card in a single page  
for i in soup.findAll('div',{'class':'col col-sm contact-section'}):
    date = i.text

<Response [200]>

In [450]:
int('4/6/21'.split('/')[1])

6

# mygov.in

In [304]:
# importing the Libraries
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

def GetOverAllInfo():
    sources = requests.get('https://www.mygov.in/corona-data/covid19-statewise-status/')
    print(sources) 
    soup = BeautifulSoup(sources.content,"html.parser")
    for i in soup.findAll('div',{'class':'field field-name-field-total-vaccinations field-type-text field-label-above'}):
        for j in i.findAll('div',{'class':'field-items'}):
            Total_Vaccinations = j.text
    for i in soup.findAll('div',{'class':'field field-name-field-total-vaccinations-today field-type-text field-label-above'}):
        for j in i.findAll('div',{'class':'field-items'}):
            Total_Vaccinations_Today = j.text
    for i in soup.findAll('div',{'class':'field field-name-field-last-vaccination-date field-type-text field-label-above'}):
        for j in i.findAll('div',{'class':'field-items'}):
            Last_Vaccination_date = j.text

    # looping over each card in a single page
    for card in soup.findAll( 'div',{'class':'content'}):   
        for i in card.findAll('div',{'class':'field field-name-field-covid-india-as-on field-type-text field-label-above'}):
            for j in i.findAll('div',{'class':'field-items'}):
                date_time = j.text
        for i in card.findAll('div',{'class':'field field-name-field-district-reporting field-type-text field-label-above'}):
            for j in i.findAll('div',{'class':'field-items'}):
                District_Reporting = j.text
        for i in card.findAll('div',{'class':'field field-name-field-last-total-active field-type-number-integer field-label-above'}):
            for j in i.findAll('div',{'class':'field-items'}):
                Last_Total_Active_Case = j.text
        for i in card.findAll('div',{'class':'field field-name-field-last-total-cured field-type-number-integer field-label-above'}):
            for j in i.findAll('div',{'class':'field-items'}):
                Last_Total_Cured = j.text
        for i in card.findAll('div',{'class':'field field-name-field-last-total-death field-type-number-integer field-label-above'}):
            for j in i.findAll('div',{'class':'field-items'}):
                Last_Total_death = j.text
    if sources.status_code==200:
#         print(sources.status_code)
        data = {'Date Time':date_time
                ,'District Reporting PDF url':District_Reporting
                , 'Last Total Active Case':Last_Total_Active_Case
                , 'Last Total Cured':Last_Total_Cured
                , 'Last Total death':Last_Total_death
                , 'Total Vaccinations':Total_Vaccinations
                , 'Total Vaccinations Today':Total_Vaccinations_Today
                , 'Last Vaccination date':Last_Vaccination_date
               }
    else:
#         print(sources.status_code)
        data = {'Data':'data not available'}
    return data

GetOverAllInfo()

<Response [200]>

{'Date Time': '05 Apr 2021, 08:00 IST (GMT+5:30)',
 'District Reporting PDF url': 'https://www.mohfw.gov.in/pdf/StatewiseCovidHospitalslink19062020.pdf',
 'Last Total Active Case': '6,91,597',
 'Last Total Cured': '1,16,29,289',
 'Last Total death': '1,64,623',
 'Total Vaccinations': '79105163',
 'Total Vaccinations Today': '1638464',
 'Last Vaccination date': 'April 04, 2021'}

In [339]:
def GetSataWiseData():
    STATE_NAME = []
    TOTAL_CONFIRMED = []
    CURED_DISCHARGED_MIGRATED = []
    DEATH = []
    sources = requests.get('https://www.mygov.in/corona-data/covid19-statewise-status/')
    #parsing the whole page
    soup = BeautifulSoup(sources.content,"html.parser")
    for card in soup.findAll( 'div',{'class':"field field-name-field-select-state field-type-list-text field-label-above"}):   
        for i in card.findAll('div',{'class':'field-items'}):
            STATE_NAME.append(i.text)
    for card in soup.findAll( 'div',{'class':"field field-name-field-total-confirmed-indians field-type-number-integer field-label-above"}):   
        for i in card.findAll('div',{'class':'field-items'}):
            TOTAL_CONFIRMED.append(i.text)
    for card in soup.findAll( 'div',{'class':"field field-name-field-cured field-type-number-integer field-label-above"}):   
        for i in card.findAll('div',{'class':'field-items'}):
            CURED_DISCHARGED_MIGRATED.append(i.text)
    for card in soup.findAll( 'div',{'class':"field field-name-field-deaths field-type-number-integer field-label-above"}):   
        for i in card.findAll('div',{'class':'field-items'}):
            DEATH.append(i.text)
            
    if sources.status_code!=200:
        return 'data not available'
    # creating the dataframe and assigning each column with the data from the lists 
    df = pd.DataFrame({
        'STATE_NAME': STATE_NAME,
        'TOTAL_CONFIRMED':TOTAL_CONFIRMED,
        'CURED_DISCHARGED_MIGRATED':CURED_DISCHARGED_MIGRATED,
        'DEATH':DEATH
        })
    return df
df = GetSataWiseData()

In [341]:
df.head()

            STATE_NAME TOTAL_CONFIRMED CURED_DISCHARGED_MIGRATED DEATH
0  Andaman and Nicobar            5109                      4990    62
1       Andhra Pradesh          907676                    890137  7239
2    Arunachal Pradesh           16849                     16785    56
3                Assam          218670                    215597  1109
4                Bihar          268377                    263233  1583

In [342]:
tem = df[df['STATE_NAME']=='Maharashtra']

In [343]:
tem

     STATE_NAME TOTAL_CONFIRMED CURED_DISCHARGED_MIGRATED  DEATH
19  Maharashtra         3010597                   2522823  55878

In [344]:
tem['TOTAL_CONFIRMED'].values[0]

'3010597'

In [345]:
#get data in cleaned for States
def GetStateReport(state):
    state1 = state.lower()
    df = GetSataWiseData()
    if type(df)==str:
        return {'Data':'data not available'}
    sources = requests.get('https://www.mygov.in/corona-data/covid19-statewise-status/')
    #parsing the whole page
    soup = BeautifulSoup(sources.content,"html.parser")
    for card in soup.findAll( 'div',{'class':'content'}):   
        for i in card.findAll('div',{'class':'field field-name-field-covid-india-as-on field-type-text field-label-above'}):
            for j in i.findAll('div',{'class':'field-items'}):
                date_time = j.text
#     print(state1)
    temp = df[df['STATE_NAME'].apply(lambda x: state1 == x.lower())]
    if len(temp)==1:
        st_list = list(set(temp['STATE_NAME'].values))
    else:
        df_cntry = df[df['STATE_NAME'].apply(lambda x: state1 in x.lower())]
        st_list = list(set(df_cntry['STATE_NAME'].values))
    states = st_list[0]
    temp2 = df[df['STATE_NAME']==states]
    TOTAL_CONFIRMED = temp2['TOTAL_CONFIRMED'].values[0]
    CURED_DISCHARGED_MIGRATED = temp2['CURED_DISCHARGED_MIGRATED'].values[0]
    DEATH = temp2['DEATH'].values[0]
    data = {'Date Time':date_time
           , 'State':states
           , 'TOTAL_CONFIRMED':TOTAL_CONFIRMED
           , 'CURED_DISCHARGED_MIGRATED':CURED_DISCHARGED_MIGRATED
           , 'DEATH':DEATH
           }
    return data

# GetStateReport(state="maha")
data1 = GetStateReport(state="maha")
data1

{'Date Time': '05 Apr 2021, 08:00 IST (GMT+5:30)',
 'State': 'Maharashtra',
 'TOTAL_CONFIRMED': '3010597',
 'CURED_DISCHARGED_MIGRATED': '2522823',
 'DEATH': '55878'}

In [346]:
data1['State']

'Maharashtra'

# Github Dataset

In [302]:

import pandas as pd

CONF_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
DEAD_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
RECV_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

covid_conf = pd.read_csv(CONF_URL)
covid_dead = pd.read_csv(DEAD_URL)
covid_recv = pd.read_csv(RECV_URL)

In [303]:
covid_conf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21,4/3/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56226,56254,56290,56294,56322,56384,56454,56517,56572,56595
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,122767,123216,123641,124134,124419,124723,125157,125506,125842,126183
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,116543,116657,116750,116836,116946,117061,117192,117304,117429,117524
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,11687,11732,11809,11850,11888,11944,12010,12053,12115,12174
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,21914,21961,22031,22063,22132,22182,22311,22399,22467,22579

In [264]:
covid_conf_us

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21,4/3/21
249,NaN,US,40.0,-100.0,1,1,2,2,5,5,...,30080058,30157372,30219450,30263145,30332565,30393805,30460834,30539868,30609690,30671844

In [257]:
#get max rate  for country
def GetPeakDate(data,cntry):
    df = data[data['Country/Region']==cntry]
    max_pt = df.max(axis = 1).values[0]
    max_pt_date = df.eq(df.max(1), axis=0).dot(df.columns).values[0]
    return max_pt, max_pt_date
country = 'US'
GetPeakDate(covid_conf,country)

(30671844.0, '4/3/21')

In [258]:
#get max rate  for country
def GetPeakDate(data,cntry):
    df = data[data['Country/Region']==cntry]
    max_pt = df.max(axis = 1).values[0]
    max_pt_date = df.eq(df.max(1), axis=0).dot(df.columns).values[0]
    return max_pt, max_pt_date
country = 'US'
GetPeakDate(covid_recv,country)

(6298082.0, '12/13/20')

In [261]:
#get max rate  for country
def GetPeakDate(data,cntry):
    df = data[data['Country/Region']==cntry]
    max_pt = df.max(axis = 1).values[0]
    max_pt_date = df.eq(df.max(1), axis=0).dot(df.columns).values[0]
    return max_pt, max_pt_date
country = 'US'
GetPeakDate(covid_dead,country)

(554779.0, '4/3/21')

In [285]:
z[z['index']=='9/9/20']

      index       sum
231  9/9/20  27898143

In [287]:
z[z['sum']==130676358]

      index        sum
437  4/3/21  130676358

In [294]:
z[z['sum']==130676358]['index']

437    4/3/21
Name: index, dtype: object

In [286]:
z['sum'].max()

130676358

In [297]:
#get overall wordlwide total for confirmed, recovered and dead cases
def GetPeakDataOverAll(df):
    df1 = df.iloc[:,4:].sum()
    frame = { 'index': df1.index, 'sum': df1.values }
    df = pd.DataFrame(frame)
    max_pt = df['sum'].max()
    max_pt_date = df[df['sum']==max_pt]['index'].values[0]
    return max_pt, max_pt_date
GetPeakDataOverAll(covid_conf)

130676358

(130676358, '4/3/21')

In [214]:
max(q)

30671844

In [32]:
#get data in cleaned time series format for country
def process_data(data,cntry='US',window=3):
    conf_ts = data
    conf_ts_cntry = conf_ts[conf_ts['Country/Region']==cntry]
    final_dataset = conf_ts_cntry.T[4:].sum(axis='columns').diff().rolling(window=window).mean()[40:]
    df = pd.DataFrame(final_dataset,columns=['Total'])
    return df

#get overall wordlwide total for confirmed, recovered and dead cases
def get_overall_total(df):
    return df.iloc[:,-1].sum()

# get latest Date Report
def get_Date(df):
    date = df.columns[-1]
    return date

conf_overall_total = get_overall_total(covid_conf)
dead_overall_total = get_overall_total(covid_dead)
recv_overall_total = get_overall_total(covid_recv)
print('Overall Confirmed:',conf_overall_total)
print('Overall Dead:',dead_overall_total)
print('Overall Recovered:',recv_overall_total)

Overall Confirmed: 130676358
Overall Dead: 2845616
Overall Recovered: 74069842

In [184]:
covid_conf[covid_conf['Country/Region']=='US']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21,4/3/21
249,NaN,US,40.0,-100.0,1,1,2,2,5,5,...,30080058,30157372,30219450,30263145,30332565,30393805,30460834,30539868,30609690,30671844

In [181]:
covid_recv[covid_recv['Country/Region']=='India']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21,4/3/21
131,NaN,India,20.593684,78.96288,0,0,0,0,0,0,...,11264637,11295023,11323762,11355993,11393021,11434301,11474683,11525039,11569241,11569241

In [183]:
#get data in cleaned for country
def select_cntrys(df,cntry):
    cntry = cntry.lower()
    print(cntry)
    temp = df[df['Country/Region'].apply(lambda x: cntry == x.lower())]
    if len(temp)==1:
        cntry_list = list(set(temp['Country/Region'].values))
    else:
        df_cntry = df[df['Country/Region'].apply(lambda x: cntry in x.lower())]
        cntry_list = list(set(df_cntry['Country/Region'].values))
    contry0 = cntry_list[0]
    index = df[df['Country/Region']==contry0].index[0]
    lat = df['Lat'][index]
    long = df['Long'][index]
    return lat, long, contry0
    
# get latest Date Report
def get_Date(df):
    date = df.columns[-1]
    return date

# process_data(covid_conf,cntry="Indo")
lat, long, cntry = select_cntrys(covid_conf,cntry="indi")
lat, long, cntry

indi
146

(20.593684, 78.96288, 'India')

In [198]:
#get total country and names
def get_cntry_name(df):
    total_cntry = len(set(df['Country/Region']))
    cntrys = list(set(df['Country/Region']))
    return total_cntry, cntrys

a,b = get_cntry_name(covid_conf)

In [153]:
#get total for confirmed, recovered and dead for country 
# df1,df2,df3 is covid_conf, covid_dead, covid_recv
def get_cntry_total(df1,df2,df3,cntry='US'):
    conf = df1[df1['Country/Region']==cntry].iloc[:,4:].sum(axis = 1).values[0]
    dead = df2[df2['Country/Region']==cntry].iloc[:,4:].sum(axis = 1).values[0]
    recv = df3[df3['Country/Region']==cntry].iloc[:,4:].sum(axis = 1).values[0]
    return conf,dead,recv

#get total for confirmed, recovered and dead for country 
def get_cntry_total_latest(df1,df2,df3,cntry,date):
    conf = df1[df1['Country/Region']==cntry][date].values[0]
    dead = df2[df2['Country/Region']==cntry][date].values[0]
    recv = df3[df3['Country/Region']==cntry][date].values[0]
    return conf,dead,recv

cntry = 'US'
conf,dead,recv = get_cntry_total(covid_conf,covid_dead,covid_recv,cntry)
print(f'{cntry} Confirmed:',conf)
print(f'{cntry} Dead:',dead)
print(f'{cntry} Recovered:',recv)

cntry = 'US'
date = get_Date(covid_conf)
conf,dead,recv = get_cntry_total_latest(covid_conf,covid_dead,covid_recv,cntry,date)
print(f'{cntry} Confirmed:',conf)
print(f'{cntry} Dead:',dead)
print(f'{cntry} Recovered:',recv)

US Confirmed: 4241388840
US Dead: 91260544
US Recovered: 496971828
US Confirmed: 30671844
US Dead: 554779
US Recovered: 0